html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90vw;
}

header {
  width: 100%;
  background-color: #896c60;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-options {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.search-input {
  padding: 10px;
  background-color: #896c60;
  color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: #ffffff;
}

.login-link{
  padding: 16px 20px;
  transition: background-color 200ms ease-in-out;
}
.login-link:hover {
  background-color: #775e54;
}

.brand-logo {
  width: 50px;
  height: 50px;
  background: url(./images/beer-mug.png);
  background-size: cover;
  top: 4px;
}

.sort-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #3e2723;
}

.abv-select {
  padding: 8px 0 8px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  color: #686868;
}
.abv-select:focus {
  outline: none;
}

#beers_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* BEER CARD */

.beer_item {
  width: 300px;
  height: 426px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 20px;
  margin: 0 40px 40px 0;
}

.beer_item-img {
  height: 160px;
}

.beer_item-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  max-width: 220px;
  padding: 10px 0;
}

.beer_item-tag {
  color: #757575;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

table {
  width: 100%;
  font-size: 14px;
}
td {
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #e7e5e5;
}
tr:nth-child(even) {
  background-color: #f8f5f5;
}

.add-btn {
  text-decoration: underline;
}

/* PAGINATION */
.pagination {
  width: 70%;
  margin: 0 auto 40px auto;
  position: relative;
}

#pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  fill: #896c60;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}
.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.1) translateY(-50%);
}
.arrow-left {
  left: -60px;
}
.arrow-right {
  right: -36px;
}

.page-btn {
  padding: 10px 12px;
  margin: 0 20px 20px 0;
  background-color: rgba(235, 174, 22, 0.6);
}
.page-btn:focus {
  outline: none;
}

.page-btn:active {
  background-color: #896c60;
}

.active {
  background-color: #896c60;
  color: #ffffff;
}